.style-less-input {
    border: none;
    padding: unset;
    -moz-appearance: textfield;
}

.search {
    width: 1000px;
}

.style-less-input:hover,
.style-less-input:focus:focus-visible {
    outline: none;
}
.style-less-input::-webkit-outer-spin-button,
.style-less-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

li.without-child-page-link {
    /* padding: 0.2rem 0.5rem; */
    padding: 0.3rem 0 0.1rem 0.5rem;
}
