body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.un-styled-anchor {
  color: inherit;
  text-decoration: inherit;
}

.un-styled-anchor:focus,
.un-styled-anchor:hover,
.un-styled-anchor:visited,
.un-styled-anchor:link,
.un-styled-anchor:active {
  text-decoration: none;
  color: inherit;
}

.cursor-pointer {
  cursor: pointer;
}
.py-2-5 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}
.px-2-5 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}
.p-2-5 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}
