.un-styled-anchor {
  color: inherit;
  text-decoration: inherit;
}

.un-styled-anchor:focus,
.un-styled-anchor:hover,
.un-styled-anchor:visited,
.un-styled-anchor:link,
.un-styled-anchor:active {
  text-decoration: none;
  color: inherit;
}

.cursor-pointer {
  cursor: pointer;
}

.py-2-5 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.px-2-5 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.p-2-5 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.vh-75 {
  height: 75vh !important;
}

.out-of-view {
  position: absolute;
  z-index: -100;
}

.rotate-90 {
  transform: rotate(90deg);
}

.icon-min-width {
  min-width: 30px;
  min-height: 30px;
}