.un-styled-anchor {
  color: inherit;
  text-decoration: inherit;
}

.un-styled-anchor:focus,
.un-styled-anchor:hover,
.un-styled-anchor:visited,
.un-styled-anchor:link,
.un-styled-anchor:active {
  text-decoration: none;
  color: inherit;
}

.cursor-pointer {
  cursor: pointer;
}

.py-2-5 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.px-2-5 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.p-2-5 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.vh-75 {
  height: 75vh !important;
}

.out-of-view {
  position: absolute;
  z-index: -100;
}

.rotate-90 {
  transform: rotate(90deg);
}

.icon-min-width {
  min-width: 30px;
  min-height: 30px;
}
.special-card-wrapper {
  padding: 0 1rem 1rem 1rem;
}
.special-card {
  z-index: 3;
}
.special-card-border {
  background-image: linear-gradient(90deg, #1e2339 50%, #040a22 50%);
  background-size: cover;
  position: relative;
  border-radius: 25px;
  transition: 0.5s;
}
.special-card-border::before,
.special-card-border::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* width: 101.7%;
  height: 101.1%;
  top: -4px;
  left: -5px;
  margin: 2px !important; */
  background: linear-gradient(235deg, #ffa000, #010615, #cd12eb);
  /* background: linear-gradient(235deg, #ff0092, #010615, #ff4e3d) !important; */
  border-radius: 25px;
}
.dark-mode .special-card-border::before,
.dark-mode .special-card-border::after {
  background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}
.special-card-border:hover::after {
  filter: blur(20px);
}
.special-card-border:hover {
  transform: scaleX(1.1) scaleY(1.1);
  transition: 0.5s;
}

.disable-save {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.list-view .pokemon-card-image {
  min-width: 18vw;
  max-width: 20rem;
}

.energy-type {
  background-image: url("/images/energy-types.png");
  width: 25px;
  height: 25px;
}
.energy-type.Fire {
  background-position: 0px 0px;
}
.energy-type.Colorless {
  background-position: -25px 0px;
}
.energy-type.Fairy {
  background-position: -50px 0px;
}
.energy-type.Metal {
  background-position: -75px 0px;
}
.energy-type.Dragon {
  background-position: 0px -25px;
}
.energy-type.Lightning {
  background-position: -25px -25px;
}
.energy-type.Fighting {
  background-position: -50px -25px;
}
.energy-type.Psychic {
  background-position: -75px -25px;
}
.energy-type.Darkness {
  background-position: 0px -50px;
}
.energy-type.Grass {
  background-position: -25px -50px;
}
.energy-type.Lightning {
  background-position: -50px -50px;
}
.energy-type.Water {
  background-position: -75px -50px;
}

.bg-grey {
  background-color: #f2f2f2;
}
.text-lightgray {
  color: lightgray;
}

@media (max-width: 768px) {
  .list-view .pokemon-card-image {
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .special-card-wrapper {
    padding: 0 2rem 1rem 2rem;
  }
}
